<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BRANCH OFFICES</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/api/branchOffice">Branch Office</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/api/branchOffice">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/api/branchOffice/createBranch">Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/api/branchOffice/">View all</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <h2>BRANCH OFFICE LIST</h2>
        </div>
        <br>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="branchOffice : ${branchDTOList}">
                    <td th:text="${branchOffice.pk_BranchId}">
                    <td th:text="${branchOffice.name}">
                    <td th:text="${branchOffice.country}">
                    <td th:text="${branchOffice.type}">
                    <td>
                    <a class="btn btn-outline-secondary" th:href="@{/api/branchOffice/showUpdateBranch/{id}(id=${branchOffice.pk_BranchId})}">Update</a>
                    <a class="btn btn-outline-danger" th:href="@{/api/branchOffice/deleteBranch/{id}(id=${branchOffice.pk_BranchId})}">Delete</a>
                </td>
                </tr>
            </tbody>
        </table>
        <br>
        <a class="btn btn-success" th:href="@{/api/branchOffice/createBranch}">Add branch office</a>
    </div>
</body>
</html>